<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/styles.css">

<style>
  .nav-link {
      color: white;
  }
  .navbar ul li .subnav {
      position:absolute;
  }
</style>

<header class="container-fluid">
  
  <nav class="navbar navbar-expand-lg bg-danger" >
   
    <ul class="nav nav-tabs justify-content-center">
      <a href="/"><img src="images/Strawin_white.png" width="100px" alt="logo" /></a>
      
      <li class="color:white;">
        <a class="nav-link"  href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/reports">Reports</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Airline Client
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_client">Add Client</a></li>
          <li><a class="dropdown-item" href="/delete_client">Delete Client</a></li>
          <li><a class="dropdown-item" href="/update_client">Update Client</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Airline Prospects
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_prospect">Add Prospect</a></li>
          <li><a class="dropdown-item" href="/delete_prospect">Delete Prospect</a></li>
          <li><a class="dropdown-item" href="/update_prospect">Update Prospect</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Employees
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_employee">Add Employee</a></li>
          <li><a class="dropdown-item" href="/delete_employee">Delete Employee</a></li>
          <li><a class="dropdown-item" href="/update_employee">Update Employee</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Products
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_product">Add Product</a></li>
          <li><a class="dropdown-item" href="/delete_product">Delete Product</a></li>
          <li><a class="dropdown-item" href="/update_product">Update Product</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vendors
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_vendor">Add Vendor</a></li>
          <li><a class="dropdown-item" href="/delete_vendor">Delete Vendor</a></li>
          <li><a class="dropdown-item" href="/update_vendor">Update Vendor</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sales
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_sale">Add Sale</a></li>
          <li><a class="dropdown-item" href="/delete_sale">Delete Sale</a></li>
          <li><a class="dropdown-item" href="/update_sale">Update Sale</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cloud Server
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/add_server">Add Server</a></li>
          <li><a class="dropdown-item" href="/delete_server">Delete Server</a></li>
          <li><a class="dropdown-item" href="/update_server">Update Server</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>
  

</header>
