body {
    background: url('../images/airplane1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover ;
    -moz-backgorund-size: cover;
    background-size: cover;
    -o-background-size: cover;

}