<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<body class="container">
<body style="background-color: #DBF2FF;">
<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<style>
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
    }
    
    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    </style>

<main> 
    

    <div class="jumbotron">
        <form action="/addsales" method="POST">
            <center>
                <h2>Add Sale</h2>
                <strong>Input Fields To Add A Sale Below:</strong>
                <div class="form-group">
                    <input type="text" id="employee_id" name="employee_id" class="form-control" placeholder="Employee ID" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" id="prospect_id" name="prospect_id" class="form-control" placeholder="Prospect ID" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" id="sales_status" name="sales_status" class="form-control" placeholder="Sale Status" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" id="sales_amount" name="sales_amount" class="form-control" placeholder="Sale Amount"  autofocus>
                </div>
                <div class="form-group">
                    <input type="text" id="opportunity_name" name="opportunity_name" class="form-control" placeholder="Opportunity Name" required autofocus>
                </div>
                      
                <input class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:rgb(29, 184, 101)">
            </center>
        </form>
    </div>

<ul>
    <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>

</main>


</body>
</body>
</html>