<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../public/css/styles.css">

<head>
    <title>
        Strawin
    </title>
    <%- include('../partials/head'); %>
</head>

<body style = "background-color:#D3B3B2;">
    
    <header>
        <ul>
            <%- include('../partials/header'); %>
        </ul>
        
    </header>
    <center>
    <img alt="Poster" id="poster" src="images/Login.png" width="1500px" height="740px"> 
    </center>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>