<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<!-- Then created a head tag to include the code information from my partials folder/ head file code 
    to indicate the head i want to use for this page as for all the other pages to show consistency-->

    <!--Body tag indicates the class is a container for the following code below-->
<body class="container">


<!-- Then created a header tag to contain the code information from the partials folder/ header file 
to use the header style for this page as for all the other pages to show consistency-->

<!--Then established a main tag to handle the code for designing the page.
The div tag is opened to set class as jumbotron and style background color of page.
Using headings to display messages for the page to have, and tagline from server file -->
    <main>
        <div>
            <form action="/login" methods=""post">
                <h2>Please Log In:</h2>
                <input type="text" id="username" name="username" class=""form-control" placeholder="Username" required 
                    autofocus>
                <input type="password" id="inputpassword" name="password" class=""form-control" placeholder="Password" 
                    required >
                <div class="checkbox">
                    <label>
                        <input name="remember-me" type="checkbox"> Remember me

                    </label>
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" href="/home">
            </form>
        </div>


    </main>
<!-- Using <p> and <strong> tags to add to the design display of the messages-->

    
<!--Then created a footer tag to contain the code information from the partials folder/ footer file 
to use the footer style for this page as for all the other pages to show consistency.-->
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>