<%- include('../partials/head'); %>
<ul>
    <%- include('../partials/header'); %>
</ul>

<div class="row">
    <div class="col-3">
        <input class="form-control" type="text" name="" id="myInput" placeholder="Search"
            onkeyup="search()">
    </div>
</div>

<table class="table table-striped table-hover table-bordered my-4">
    <thead>
        <tr class>
            <th class="text-center bg-primary text-white h6">ID</th>
            <th class="text-center bg-primary text-white h6">Product</th>
            <th class="text-center bg-primary text-white h6">Description</th>
            <th class="text-center bg-primary text-white h6">Category</th>
            <th class="text-center bg-primary text-white h6">Server ID</th>
            <th class="text-center bg-primary text-white h6">Client ID</th>
        </tr>
    </thead>
</table>
