<!doctype html>
<html lang="en">
<%- include('../partials/head'); %>



<body style = "background-color:white;">
  <%- include('../partials/header'); %>
    <div class="card" style="width: 100rem;">
      <style>
        .flexcontainer {
          display: flex;
        }
      </style>

      

<div class ="container flex">
<br><br>
<div class="row row-cols-2 row-cols-md-5 g-4">
  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Airline Clients</h5>
        <br><br>
        <center><a href="/report1" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Airline Prospects</h5>
        <br><br>
        <center><a href="/report2" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Clients Per Region</h5>
        <br><br>
        <center><a href="/report3" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Prospects Per Region</h5>
        <br><br>
        <center><a href="/report4" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Client and Product</h5>
        <br><br>
        <center><a href="/report5" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Prospect and Product</h5>
        <br><br>
        <center><a href="/report6" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Cloud and Product</h5>
        <br><br>
        <center><a href="/report7" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Cloud and Vendor</h5>
        <br><br>
        <center><a href="/report8" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Employee Sales</h5>
        <br><br>
        <center><a href="/report9" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Total Revenue</h5>
        <br><br>
        <center><a href="/report10" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

</div>
</div>
</body>
</html>