<!doctype html>
<html lang="en">
<%- include('../partials/head'); %>



<body style = "background-color:#DBF2FF;">
  <%- include('../partials/header'); %>
    <div class="card" style="width: 100%;">
      <style>
        .flexcontainer {
          display: flex;
        }
      </style>

      
<div style="background-color:#DBF2FF">
<div class ="container flex">

<br><br><br>
<div class="row row-cols-2 row-cols-md-5 g-4">
  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Airline Client Information</h5>
        <br><br>
        <center><a href="/report1" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Airline Prospect Information</h5>
        <br><br>
        <center><a href="/report2" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Amount of Clients Per Region</h5>
        <br><br>
        <center><a href="/report3" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Amount of Prospects Per Region</h5>
        <br><br>
        <center><a href="/report4" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">The Product A Client Uses Under An Employee</h5>
        <br>
        <center><a href="/report5" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">The Product A Prospect is Trying To Purchase Under An Employee</h5>
        <br>
        <center><a href="/report6" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Amount of Products Used Under A Cloud Server</h5>
        <br><br>
        <center><a href="/report7" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Amount of Cloud Servers Per Vendor</h5>
        <br><br><br>
        <center><a href="/report8" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Number of Sales By Each Employee From Sales Department</h5>
        <br><br>
        <center><a href="/report9" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Total Subscription Revenue By Region For 2022</h5>
        <br><br>
        <center><a href="/report10" class="btn btn-primary">View</a></center>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>