<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body style = "background-color:#DBF2FF;">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <br>
    <center><img alt="Poster" id="poster" src="images/success.png" width="1550px" height="710px"></center>
        
    

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>