<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/styles.css">



<div class="box">
    <div style="max-width: 500px;">
    HEY
    <img alt="Poster" id="poster" src="/images/Homepage_picture.jpg" width="500px"> 
 <p>
    HEY BACK
 </p>
    </div>
</div>